.app {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  max-width: 1000px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #eee;
  background-color: #DFCFBE;
}

.app-name {
  text-transform: uppercase;
  font-size: 20px;
}

.version {
  font-size: 18px;
}

.content {
  margin-top: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  border: 1px solid #666;
  margin-bottom: 20px;
}

.loading-text {
  font-size: 30px;
  align-items: center;
}

.weather-sub-title {
  color: white;
  font-size: 22px;
}

.weather-forecast {
  color: #fff;
  font-size: 50px;
}


